
version: '3.8'

services:
  users_service:
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./user_service/Dockerfile
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - mongodb

  language_service:
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./language_service/Dockerfile
    ports:
      - "8001:8001"
    env_file: .env
    depends_on:
      - mongodb

  mongodb:
    image: mongo:6
    ports:
      - "27017:27017"
